.svg {
    padding:0;
    margin:0;
    background-color: lightblue;
    z-index: -1;
}

polygon {
    fill:#2e2e2e;
    stroke:white;
    stroke-width: 1;
    z-index: 5;
}

polygon:hover {
    fill: #919191;
}