.svg {
    padding:0;
    margin:0;
    background-color: lightblue;
}

polygon {
    fill:#d4d4d4;
    stroke:rgb(0, 0, 0);
    stroke-width: 1;
}

#start_point {
    fill: green;
    stroke:white;
    stroke-width: 1;
}

#end_point {
    fill: red;
    stroke:white;
    stroke-width: 1;
}

.frontier_point {
    fill: #618bff;
    stroke:white;
    stroke-width: 1;
}

.explored_point {
    fill: #0043fc;
    stroke:white;
    stroke-width: 1;
}

.final_path {
    fill: #11cc00;
    stroke:#ff0000;
    stroke-width: 1;
}

.wall {
    fill: black;
    stroke:white;
    stroke-width: 1;
}

polygon:hover {
    fill: #919191;
}

button {
    border-radius: 5px;
    min-width: 30px;
}

.button_selected {
    background-color: #15ff00;
}